{% load static %}
<footer class="site-footer">
                <div class="container">
                  <div class="row" style="display: flex; justify-content: space-between;">
                    <div class="col-sm-12 col-md-6">
                      <h6>About</h6>
                      <p class="text-justify" style="color: #fff;">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, excepturi dolorum? Sunt voluptas excepturi aliquid corrupti dolor voluptatum neque minus error dignissimos atque ipsum perferendis, omnis magnam deserunt incidunt explicabo?
                      </p>
                    </div>
          
                    <div class="col-xs-6 col-md-3">
                      <h6>Quick Links</h6>
                      <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Cotact US</a></li>
                      
                      </ul>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                      <p class="copyright-text" style="color: #fff;">Copyright &copy; 2017 All Rights Reserved by
                        <img style="height: 50px;" src="{% static 'images/file.png' %} "  />
                      </p>
                    </div>
          
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                      </ul>
                    </div>
                  </div>
                </div>
          </footer>