{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option">
    <div class="breadcrumb__text ml-5">
        <h4>All Products</h4>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->

<div class="container-fluid px-4 py-3">
  <div class="row">
      <!-- Card 1 -->
      <div class="col-md-2 p-2">
          <div class="card product-card">
              <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-350-v2-carbon-beluga-hq7045.png?v=1699011789&width=832" class="card-img-top" alt="Product 1">
              <div class="card-body">
                  <p class="card-text">A brief description of the product goes here.</p>
                  <div style="display: flex; justify-content: space-between;">
                    <p class="card-price"><b class="mr-1">Price</b> $99.99</p>
                    <p class="add-to-basket"><a href="">Add to Basket</a></p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-2 p-2">
          <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/Yeezy-Boost-700-V2-FU7914-Tephra_1.png?v=1668083654&width=1200" class="card-img-top" alt="Product 3">
            <div class="card-body">
                  <p class="card-text">A brief description of the product goes here.</p>
                  <div style="display: flex; justify-content: space-between;">
                    <p class="card-price"><b class="mr-1">Price</b> $89.99</p>
                    <p class="add-to-basket"><a href="">Add to Basket</a></p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-2 p-2">
          <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-350-v2-mono-mist-gw2871_1.png?v=1658250262&width=1200" class="card-img-top" alt="Product 2">
              <div class="card-body">
                  <p class="card-text">A brief description of the product goes here.</p>
                  <div style="display: flex; justify-content: space-between;">
                    <p class="card-price"><b class="mr-1">Price</b> $79.99</p>
                    <p class="add-to-basket"><a href="">Add to Basket</a></p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-2 p-2">
          <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-700-faded-azure-GZ2002_1.png?v=1638286109&width=1200" class="card-img-top" alt="Product 4">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $69.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
              </div>
          </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-2 p-2">
          <div class="card product-card">
              <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-700-bright-blue-gz0541_1.png?v=1659026245&width=832" class="card-img-top" alt="Product 5">
              <div class="card-body">
                  <p class="card-text">A brief description of the product goes here.</p>
                  <div style="display: flex; justify-content: space-between;">
                    <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                    <p class="add-to-basket"><a href="">Add to Basket</a></p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/files/FQ7928-001_300x300_crop_center.png?v=1720604208" class="card-img-top" alt="Product 5">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-350-v2-carbon-beluga-hq7045.png?v=1699011789&width=832" class="card-img-top" alt="Product 1">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $99.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/Yeezy-Boost-700-V2-FU7914-Tephra_1.png?v=1668083654&width=1200" class="card-img-top" alt="Product 3">
          <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $89.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-350-v2-mono-mist-gw2871_1.png?v=1658250262&width=1200" class="card-img-top" alt="Product 2">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $79.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-700-faded-azure-GZ2002_1.png?v=1638286109&width=1200" class="card-img-top" alt="Product 4">
          <div class="card-body">
              <p class="card-text">A brief description of the product goes here.</p>
              <div style="display: flex; justify-content: space-between;">
                <p class="card-price"><b class="mr-1">Price</b> $69.99</p>
                <p class="add-to-basket"><a href="">Add to Basket</a></p>
              </div>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-700-bright-blue-gz0541_1.png?v=1659026245&width=832" class="card-img-top" alt="Product 5">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2 p-2">
      <div class="card product-card">
        <img src="https://www.kickgame.co.uk/cdn/shop/files/FQ7928-001_300x300_crop_center.png?v=1720604208" class="card-img-top" alt="Product 5">
          <div class="card-body">
              <p class="card-text">A brief description of the product goes here.</p>
              <div style="display: flex; justify-content: space-between;">
                <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                <p class="add-to-basket"><a href="">Add to Basket</a></p>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-350-v2-carbon-beluga-hq7045.png?v=1699011789&width=832" class="card-img-top" alt="Product 1">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $99.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/Yeezy-Boost-700-V2-FU7914-Tephra_1.png?v=1668083654&width=1200" class="card-img-top" alt="Product 3">
          <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $89.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-350-v2-mono-mist-gw2871_1.png?v=1658250262&width=1200" class="card-img-top" alt="Product 2">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $79.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
          <img src="https://www.kickgame.co.uk/cdn/shop/products/adidas-yeezy-boost-700-faded-azure-GZ2002_1.png?v=1638286109&width=1200" class="card-img-top" alt="Product 4">
          <div class="card-body">
              <p class="card-text">A brief description of the product goes here.</p>
              <div style="display: flex; justify-content: space-between;">
                <p class="card-price"><b class="mr-1">Price</b> $69.99</p>
                <p class="add-to-basket"><a href="">Add to Basket</a></p>
              </div>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2 p-2">
        <div class="card product-card">
            <img src="https://www.kickgame.co.uk/cdn/shop/products/yeezy-boost-700-bright-blue-gz0541_1.png?v=1659026245&width=832" class="card-img-top" alt="Product 5">
            <div class="card-body">
                <p class="card-text">A brief description of the product goes here.</p>
                <div style="display: flex; justify-content: space-between;">
                  <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                  <p class="add-to-basket"><a href="">Add to Basket</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2 p-2">
      <div class="card product-card">
        <img src="https://www.kickgame.co.uk/cdn/shop/files/FQ7928-001_300x300_crop_center.png?v=1720604208" class="card-img-top" alt="Product 5">
          <div class="card-body">
              <p class="card-text">A brief description of the product goes here.</p>
              <div style="display: flex; justify-content: space-between;">
                <p class="card-price"><b class="mr-1">Price</b> $59.99</p>
                <p class="add-to-basket"><a href="">Add to Basket</a></p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}
