{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option">
    <div class="breadcrumb__text ml-5">
        <h4>All Products</h4>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->

<div class="container-fluid px-4 py-3">
  <div class="row">
    <!-- Card -->
    {% for product in products %}
      <div class="col-md-2 p-2">
        <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
          <div class="card product-card">
              <img src="{{ product.image_url }}" class="card-img-top" alt="Product">
              <div class="card-body">
                  <p class="card-text custom-line-height">{{ product.name }}</p>
                  <div style="display: flex; justify-content: space-between;">
                    <p class="card-text"><b class="mr-1">Price</b> £{{ product.price }}</p>
                    <p class="add-to-basket"><a href="">Add to Basket</a></p>
                  </div>
              </div>
          </div>
        </a>
      </div>
     {% endfor %}
  </div>

</div>

{% endblock content %}
